.Modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
  align-content: center;
  justify-content: center;
  background-color: rgba($black, 0.5);
}